
<h1>Deck-Builder</h1>
<ul>
	<% allCards.forEach((eachCard => { %>
	  <img src="<%= eachCard.img %> " alt="">
	  <li>
		<%= eachCard.name %> is a <%= eachCard.type %> and a <%= eachCard.text %>
		<form method="POST" action="/cards/deck?_method=PUT">
		<input type="text" name="description">	
		<input hidden type="text" name="cardId">
		<input type="Submit" value="Comment">
		</form>
		<form method="POST" action="/cards/deck/?_method=DELETE">
			<input hidden name="cardId" value="<%= eachCard.id %>">	
			<button type="Submit">Delete</button>
			</form>
		</li>
	<%})) %>
	</ul>
<ul>
