<meta charset="UTF-8">
<h1>Search Results</h1>

<!-- Sample Page -->

<h1>Sample Page</h1>

<ul>
<% allCards.forEach((eachCard, searchresults) => { %>
  <img src="<%= eachCard.img %> " alt="">
  <li>
    <%= eachCard.name %> is a <%= eachCard.type %> and a <%= eachCard.text %>
    <form method="POST" action="/cards/deck">
    <input hidden type="text" value="<%= eachCard.name %>" name="name">
    <input hidden type="text" value="<%= eachCard.text %>" name="text">
    <input hidden type="text" value="<%= eachCard.img %>" name="img">
    <input hidden type="text" value="<%= eachCard.type %>" name="type">
    <input hidden type="text" value="<%= eachCard.playerClass %>" name="playerClass">
    <input type="Submit" value="Add">
    </form>
    </li>
<%}) %>
</ul>

